<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="style.css">
        <script src="ejs.js"></script>
    </head>
    <body>
        <nav>
            <div class="top">
                <div class="container flex justify-between">
                    <div class="contact flex items-center">
                        <img src="icons/phone.svg" alt="">
                        <div>
                            <h5>Call US: (+84) 123 456 789</h5>
                            <h6>E-mail : support@Ignyt.com</h6>
                        </div>
                    </div>
                    <div class="branding">
                        <img src="icons/ignyt.jpg"  alt="" style="width:3rem">
                    </div>
                    <div class="time flex items-center">
                        <img src="icons/clock.svg" alt="">
                        <div>
                            <h5>Working Hours:</h5>
                            <h6>Mon - Sat (8.00am - 12.00am)</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar magic-shadow">
                <div class="container flex justify-center">
                    <a href="#" class="active">Home</a>
                    <a href="#">About us</a>
                    <a href="#">Products</a>
                    <a href="#">Blog</a>
                    <a href="#">Shop</a>
                    <a href="#">Services</a>
                    <a href="#">Gallery</a>
                    <a href="#">Contact us</a>
                </div>
            </div>
        </nav>

        
  
    <div id="form">

        <div id="box1">
            <h1 class="fo-head1">ORDER</h1>
        <form method="POST" action="/place"> 
            <div class="option">
            <label for="0" class="label">Bailey's Irish Cream (Rs.99)</label>
            <select id="0" name="0" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>

        <div class="option">
            <label for="1" class="label">SMIRNOFF No.21 Red Label (Rs.99)</label>
            <select id="1" name="1" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>

        <div class="option">
            <label for="2" class="label" >JACK DANIEL’S Old No.7 Black Label (Rs.99)</label>
            <select id="2" name="2" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>

        <div class="option">
            <label for="3" class="label">DOM PERIGNON Vintage 2013 (Rs.99)</label>
            <select id="3" name="3" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>

        <div class="option">
            <label for="4" class="label">CAPTAIN MORGAN Rum (Rs.99)</label>
            <select id="4" name="4" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>

        <div class="option">
            <label for="5" class="label">GLENFIDDICH 12 Year Old (Rs.99)</label>
            <select id="5" name="5" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>

        <div class="option">
            <label for="6" class="label">Roku Gin (Rs.99)</label>
            <select id="6" name="6" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>

        <div class="option">
            <label for="7" class="label">BOMBAY SAPPHIRE London Dry Gin (Rs.99)</label>
            <select id="7" name="7" style="margin-right:10px">
                <option value="0" name="0">Select Quantity</option>
                <option value="1" name="1">1</option>
                <option value="2" name="2">2</option>
            </select>
        </div>
        <input type="submit" id="submit"/>
        </form>
        </div>
    </div>
    </body>
</html>